server {
    listen      8080;
    server_name {{ server_ip }};
    
    index       index.html;

    include     mime.types;

    location / {
        proxy_pass http://127.0.0.1:8081/;
    }

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/*.conf;

    error_page 404 /404.html;
           location = /40x.html {
        }

    error_page 500 502 503 504 /50x.html;
           location = /50x.html {
        }
}